body {
  background-color: bisque;
}
#root {
  width: 100%;
  height: 100%;
}
#App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Header {
  text-align: center;
}
#Instruction {
  background-color: aquamarine;
}
#ScoreBoard {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}
#MessageBoard {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}
#cardGrid {
  margin: auto;
  width: 77vw;
  height: 33vw;
  gap: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  /* border: 1px black solid; */
}
.card {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* position: relative; */
  /* border: 1px black solid; */
}
.cardImage {
  width: 14vw;
  height: 14vw;
}
.cardInfo {
  font-size: 25px;
  font-weight: 900;
}
.cardClicked {
  position: absolute;
  margin-top: 20px;
}
#CheatBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}
#cheatText {
  display: none;
  margin-top: 25px;
  background-color: aquamarine;
}
